<div style="margin-left: 15%" class="container-fluid">
<h1> Admin Page </h1>
<h3 style="text-align:center">Ambassdors({{ambassadors.length}})</h3>
<a class="btn btn-info center-block" href = '/'>Back to Home Page</a> <br>
<a class="btn btn-info center-block" href = '/admin'>Back to Users Admin Page</a> <br>
<a class="btn btn-primary center-block" href = '/users/myProfile'>Back to My Profile</a> <br><br>
{{#each ambassadors}}
<div style="padding:15px; border:solid 1px black; margin: 15px;" class = "container-fluid">
<div><b>{{this.user.name}}</b></div>
<div><b>Approved?: {{this.approved}}</div>
<div><b>Stripe Verified?: {{this.stripeVerified}}</div>
<div><b>Services Offered: {{this.services.length}}</div>
<!-- <form class="admin-form" method="POST" action="/admin/user/{{this._id}}">
<button class="admin-form btn btn-primary" type="submit">Make User</button>
</form> <br> -->
<!-- <form class="admin-form" method="POST" action="/admin/client/{{this._id}}">
<button class="admin-form btn btn-primary" type="submit">Make Client</button>
</form> <br>
<form class="admin-form" method="POST" action="/admin/consultant/{{this._id}}">
<button class="admin-form btn btn-primary" type="submit">Make Consultant</button>
</form> <br>
<form class="admin-form" method="POST" action="/admin/ambassador/{{this._id}}">
<button class="admin-form btn btn-primary" type="submit">Make Ambassador</button>
</form> <br>
<form class="admin-form" method="POST" action="/admin/admin/{{this._id}}">
<button class="admin-form btn btn-primary" type="submit">Make Admin</button>
</form> <br> -->
<ul class="nav-item dropdown btn btn-primary">
  <a1  class="nav-link center-block dropdown-toggle" href="/services" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    AMBASSADOR APPROVAL
  </a1>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
    <a href="/admin/ambassadors/approve/{{this._id}}" class="admin-form btn btn-primary">Approve Ambassador</a>
    <a href="/admin/ambassadors/block/{{this._id}}" class="admin-form btn btn-primary">Unapprove Ambassador</a>
  </div>
</ul>

<!-- <a href="/consultants/assign/{{this._id}}" class="admin-form btn btn-primary">Assign Consultant</a> <br> <br>
<form class="admin-form" method="POST" action="/consultants/clear/{{this._id}}">
<button type="submit" class="admin-form btn btn-primary">Remove All Consultants</button>
</form> <br> -->

<ul class="nav-item dropdown btn btn-primary">
  <a1  class="nav-link center-block dropdown-toggle" href="/services" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    AMBASSADOR SERVICES
  </a1>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
    <form class="admin-form" method="GET" action="/admin/ambassadors/services/clear/{{this._id}}">
    <button class="admin-form btn btn-primary" type="submit">Clear Services</button>
    </form>
  </div>
</ul>
<!-- Consultation Buttons -->

<ul class="nav-item dropdown btn btn-primary">
  <a1  class="nav-link center-block dropdown-toggle" href="/services" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    REFUNDS
  </a1>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
    <form class="admin-form" method="POST" action="/admin/user/clearUpcomingConsultations/{{this._id}}">
    <button type="submit" class="admin-form btn btn-primary">Send Refund</button>
    </form>
  </div>
</ul> <br> <br>

<form class="admin-form" method="POST" action="/ambassadors/assignSetmore/{{this._id}}">
  <input class="form-control" name="setmoreUrl" placeholder="Setmore Url..."></input> <br>
<button type="submit" class="admin-form btn apiary-button">Assign Setmore URL</button>
</form>



</div>
{{/each}}
</div>
