<style>
.sidenav {
    /* margin-top: 20%; */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.side-nav-mini-link {
  font-size: 15px;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>

<div class="sidenav">
  <a style="border-bottom: solid 1px gray;" href="#">Apiary Network</a>
  <a style="border-bottom: solid 1px gray;" href="#">Apiary Forums</a>
  <a href="#">Apiary Database</a>
  <ul>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Essays</a>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Resumes</a>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Academic Excellence</a>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Test Prep</a>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Internships</a>
</ul>
  <a style="border-top: solid 1px gray;" href="#">Apiary Consulting</a>
  <ul>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Purchase</a>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Schedule</a>
  <a style="font-size: 15px" class="side-nav-mini-link" href="#">Manage</a>
</ul>
</div>


<body class = "fixed-bg-sf"><div class="container-fluid network-profiles-container">
  <h1>APIARY NETWORK MEMBERS</h1><br><br>
  <center><a style="background-color: #910000; color: white;" class="btn btn-info" href="/users/ambassadors">View Ambassador Profiles</a>
  <div class="scrolling-wrapper">
{{#each users}}
<div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
{{#if this.image}}
<img class="center-block" style="height: 150px; width: 122px;" src="{{this.image.cloudinaryUrl}}"></img>
{{else}}
<img class="center-block" style="height: 150px; width: 122px;" src="/profiles/1535005509011-avatar1.jpg"></img>
{{/if}}
<h5 style="text-transform: uppercase"><b>{{this.name}}</b></h5>
<h5 style="text-transform: uppercase"><b>{{this.school}}</b></h5>
<h5 style="text-transform: uppercase; color: maroon;"><b>{{this.email}}</b></h5>
<h5 style="text-transform: uppercase; color: indianred;"><b>{{this.intendedMajor}}</b></h5>
<a class = "btn btn-success" href = '/users/{{this._id}}'>View Profile</a><br><br>
</div>
{{/each}}
</div>
</div>
<br><br><br></body>
