<style>
.sidenav {
    /* margin-top: 20%; */
    float: left;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    /* position: fixed /* Fixed Sidebar (stay in place on scroll) */ */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 120px/; /* Stay at the top */
    left: 0;
    background-color: white; /* Light Gray */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-right: 10px
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat';
    text-transform: capitalize;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #910000;
}

.side-nav-mini-link {
  font-size: 15px;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
<br>
<!-- <div style="height: 60px; display: flex; align-items: center; background-color: #910000">
  <input style="margin-left: 18%; width: 300px; height: 40px" class="form-control" placeholder="Search By School..." />
</div> -->
<!-- <nav style="display: flex; justify-content: center; align-items: center" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a style="display: flex; align-items: center; justify-content: center" class="navbar-brand" href="#"><img src="/images/apiary-network-icon.jpg" style="height: 50px" /></a>
  <form style="margin-left: 2%" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search For Users..." aria-label="Search">
    <button style="color: #910000" class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </form>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li style="display: flex; align-items: center;" class="nav-item">
        <img style="float:left; height: 30px; border-radius: 50%" src='/images/avatar.png' /> <a href="#">My Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Back Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav> -->


<div style="" class="container-fluid network-profiles-container">
  <div class="scrolling-wrapper">
{{#each users}}
<div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
{{#if this.image}}
<img class="center-block" style="height: 250px; width: 180px;" src="{{this.image.cloudinaryUrl}}"></img>
{{else}}
<img class="center-block" style="height: 250px; width: 180px;" src="/profiles/1535005509011-avatar1.jpg"></img>
{{/if}}
<h5 style="text-transform: uppercase"><b>{{this.name}}</b></h5>
<h5 style="text-transform: uppercase"><b>{{this.school}}</b></h5>
<h5 style="text-transform: uppercase; color: maroon;"><b>{{this.email}}</b></h5>
<h5 style="text-transform: uppercase; color: indianred;"><b>MAJOR: {{this.intendedMajor}}</b></h5>
<a class = "btn apiary-button" href = '/users/{{this._id}}'>View Profile</a><br><br>
</div>
{{/each}}
</div>
</div>

<br><br><br>
