
<div style="" class="container-fluid network-profiles-container">
  <div class="scrolling-wrapper">
{{#each users}}
<div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
{{#if this.image}}
<img class="center-block" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); border: solid 3px #e6e6e6; height: 240px; width: 200px;" src="{{this.image.cloudinaryUrl}}"></img>
{{else}}
<img class="center-block" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); border: solid 3px #e6e6e6; height: 240px; width: 200px;" src="/profiles/1535005509011-avatar1.jpg"></img>
{{/if}}
<h5 style="text-transform: uppercase"><b>{{this.name}}</b></h5>
<h5 style="text-transform: uppercase"><b>{{this.school}}</b></h5>
<h5 style="text-transform: uppercase; color: maroon;"><b>{{this.email}}</b></h5>
<h5 style="text-transform: uppercase; color: indianred;"><b>MAJOR: {{this.intendedMajor}}</b></h5>
<a class = "btn apiary-button" href = '/users/{{this._id}}'>View Profile</a><br><br>
</div>
{{/each}}
</div>
</div>

<br><br><br>
