<h1> Order Confirmation </h1>

Order id: {{charge._id}}<br>

Total: {{charge.amount}}<br>

<h3> Credit Card Info </h3>
Last 4 Digits: {{charge.stripeLast4}}<br><br>
Expiration Date: {{charge.stripeExpMonth}}/{{charge.stripeExpYear}}<br>

<a href= "/">Go Home </a>
