<div class = "session-container">
<!--<h1>CONSULTANT AVAILABILITY (LOS ANGELES TIME)</h1> <br>-->
{{#if success}}
  <div style="text-align: center" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{success}}
  </div>
{{/if}}
{{#if failure}}
  <div style="text-align: center" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{failure}}
  </div>
{{/if}}

<div class="container">
  <h1 class = "bigTitleFont-black"><strong> <center> THE APIARY TEAM </center></strong> </h1>
  <div class="scrolling-wrapper">
    <!-- <div class="row"> -->

    <!-- <div class="col-lg-3 col-sm-12"> -->
    <!-- <br> -->
    <!-- <div class="card card-profile members-profiles"> -->
    <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/team/Christopher.jpg" alt="Jane" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName">Christopher Hemm</h3>
        <p class="title"> Mathematics </p>
        <p>University of Chicago </p>
        <a class = "btn apiary-button" href = 'https://apiarysolutions.setmore.com/resourcebookingpage/red5f1536262508377'> BOOK APPOINTMENT </a><br><br>
      </div>
    </div>
    <!-- </div> -->

     <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/avatar.png" alt="Jane" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName">Franco Savastano</h3>
        <p class="title"> Economics </p>
        <p> Georgetown University </p>
        <a class = "btn apiary-button" href = 'https://apiarysolutions.setmore.com/resourcebookingpage/r4cd31536262590456'> BOOK APPOINTMENT </a><br><br>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="col-lg-3 col-sm-12"> -->
    <!-- <br> -->
    <!-- <div class="card card-profile members-profiles"> -->
    <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/team/Helena.jpg" alt="Jane" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName">Helena Thomas</h3>
        <p class="title"> Mathematics </p>
        <p>University of Chicago </p>
        <a class = "btn apiary-button" href = 'https://apiarysolutions.setmore.com/resourcebookingpage/rfa3d1536262658610'> BOOK APPOINTMENT </a><br><br>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="col-lg-3 col-sm-12"> -->
    <!-- <br> -->
    <!-- <div class="card card-profile members-profiles"> -->
    <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/team/Abhi.jpg" alt="John" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName"> Abhi Kottamasu </h3>
        <p class="title">Computer Science</p>
        <p>University of Michigan </p>
        <a class = "btn apiary-button" href = 'https://apiarysolutions.setmore.com/resourcebookingpage/rd2941536231487757'> BOOK APPOINTMENT </a><br><br>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="col-lg-3 col-sm-12"> -->
    <!-- <br> -->
    <!-- <div class="card card-profile members-profiles"> -->
    <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/team/Arjun.jpg" alt="Mike" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName"> Arjun Chakraborty </h3>
        <p class="title">COO</p>
        <p>University of Chicago </p>
        <a class = "btn apiary-button" href = 'https://apiarysolutions.setmore.com/resourcebookingpage/r98b31536166745898'> BOOK APPOINTMENT </a><br><br>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="col-lg-3 col-sm-12"> -->
    <!-- <br> -->
    <!-- <div class="card card-profile members-profiles"> -->
    <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/team/Daniel.jpg" alt="Mike" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName"> Daniel Lee </h3>
        <p class="title">Undecided</p>
        <p>University of Chicago</p>
        <a class = "btn apiary-button" href = 'https://apiarysolutions.setmore.com/resourcebookingpage/rf1031536232460887'> BOOK APPOINTMENT </a><br><br>
      </div>

    </div>
    <!-- </div> -->

    <div class="card card-profile members-profiles" style="padding:15px; margin: 15px; justify-content: center" class = "container-fluid">
      <img src="/images/avatar.png" alt="Mike" style="height: 300px; width:100%">
      <div class="alpine-team-container">
        <h3 class = "teamName"> Rohan Rao </h3>
        <p class="title">Pace University</p>
        <p> Computer Science </p>
        <a class = "btn apiary-button" href = '/users/{{this._id}}'> BOOK APPOINTMENT </a><br><br>
      </div>
    </div>

    <!-- <div class="col-lg-3 col-sm-12"> -->
    <!-- <br> -->
    <!-- <div class="card card-profile members-profiles"> -->
    <!-- <div class="card card-profile members-profiles" style="padding:15px; border:solid 1px black; margin: 15px; justify-content: center" class = "container-fluid">
    <img src="/images/avatar2.png" alt="Mike" style="height: 370px; width:100%">
    <div class="alpine-team-container">
    <h3 class = "teamName"> George Kingston </h3>
    <p class="title">Art Director</p>
    <p>Stanford University</p>
  </div>

</div> -->
<!-- </div> -->
</div>
</div>
<!--<div class = "container-fluid">
<iframe src="https://calendar.google.com/calendar/embed?src={{user.calendarId}}&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<br><br>
<div style="width:70%" class = "scheduling-container">
<div class = "col-xs-4 center-block"> -->
<!-- <h3> AVAILABLE CONSULTATION TIMES: </h3> -->
<!-- <form method="POST" action="/scheduleSession">
<div class="center-block">
  <label>Consultation Date</label>
  <input id="appt-date" class="form-control center-block" type="date" name="date"
                  required />
</div>
<div class="center-block">
  <label>Timeslot: U.S East Coast Time </label>
  <input class="form-control center-block" value="10:00" type="time" id="appt-time" name="timeslot"
               min="9:00" max="18:00" required />
</div>
<div class="center-block">
  <label>Input</label>
  <input id="appt-desc" type="text" name="description" class="center-block form-control" placeholder="Optionally include any requests or concerns..."/>
</div> <br>
<button class="btn-success">CONFIRM SESSION</button>
</form> -->
<center><script id="setmore_script" type="text/javascript" src="https://my.setmore.com/webapp/js/src/others/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/86ef52ca-50a0-456d-9537-81d33d91d57a"><img border="none" src="https://my.setmore.com/webapp/images/bookappt/SetMore-book-button.png" alt="Book an appointment with Apiary Solutions using SetMore" /></a> </center>

{{#each availability}}
<div class="schedule-slot">
  <form method="POST" action="/scheduleSession/{{this.id}}">
  <h5>{{this.formattedStart}} - {{this.formattedEnd}}</h5>
  <h6>(Pacific-Standard-Time)</h6>
  <input type="hidden" value={{this.startDate}} name="startDate"></input>
  <input type="hidden" value={{this.endDate}} name="endDate"></input>
  <input type="hidden" value={{this.start}} name="start"></input>
  <button type="submit" name="consultation" value='{{this.calId}}' class="btn-success">SCHEDULE SESSION</button>
</form>
</div>
{{/each}}
<!-- </div> -->
</div>
